
@media {
    .navbar-nav .open .dropdown-menu {
        background-color:#fff;
    }
}

.nav1
{
    /*background-color:#F00; !*whichever you want*!*/
    opacity: 0.5;
}
.opacity-button
{
    opacity: 1;
}
.btn-outline-dark
{
    color:#343a40;
    background-color:transparent;
    background-image:none;
    border-color:#343a40
}
.btn-outline-dark:hover
{
    color:#fff;
    background-color:#343a40;
    border-color:#343a40
}
.btn-outline-dark
.focus,
.btn-outline-dark:focus
{
    box-shadow:0 0 0 .2rem rgba(52,58,64,.5)
}
.btn-outline-dark
.disabled,
.btn-outline-dark:disabled
{
    color:#343a40;
    background-color:transparent
}
.btn-outline-dark:not(:disabled):not(.disabled)
.active,
.btn-outline-dark:not(:disabled):not(.disabled):active,
.show>.
btn-outline-dark.
dropdown-toggle{
    color:#fff;
    background-color:#343a40;
    border-color:#343a40}
.btn-outline-dark:not(:disabled):not(.disabled)
.active:focus,
.btn-outline-dark:not(:disabled):not(.disabled):active:focus,
.show>.btn-outline-dark.dropdown-toggle:focus{box-shadow:0 0 0 .2rem rgba(52,58,64,.5)}